/* Секция "Наши клиенты" */

.clients {
  padding: 94px 0;
}

.clients-list {
  display: inline-flex;
  align-items: center;
}

.clients-list__item {
  margin-right: 30px;
  flex-basis: calc((100% - 150px) / 6);

  &:last-child {
    margin-right: 0px;
  }
}

.clients-list__link {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  color: $icons;
  width: 170px;
  height: 90px;
  border: 1px solid $icons;
  border-radius: 4px;
  box-sizing: border-box;

  transition-property: color, border;
  transition-duration: 250ms;
  transition-timing-function: $timing-function;

  &:hover,
  &:focus {
    color: $blue-text;
    border: 1px solid $blue-text;
  }
}

.clients-list__icon {
  display: flex;
  align-items: center;
  fill: currentColor;

  &:hover {
    fill: $blue-text;
  }
}
